@model IEnumerable<RamirezforaneoApp.Models.User>

@{
    ViewData["Title"] = "All Users";
}

<h1>All Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CedulaUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudyProgram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SessionNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCreationDate)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CedulaUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudyProgram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SessionNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserCreationDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
